[tool.poetry]
name = "planarenvs"
version = "0.1.4"
description = "Lightweight open-ai gym environments for planar kinematic chains."
authors = ["Max Spahn <m.spahn@tudelft.nl>"]

[tool.poetry.dependencies]
python = "^3.6.2,<3.11"
gym = "^0.21.0"
numpy = "^1.5.1"
pyglet = "^1.5.21"
scipy = "^1.5"
casadi = "3.5.6.pre2"
forwardkinematics = {git = "https://git@github.com/maxspahn/forwardKinematics.git", rev = "main"}
motion-planning-scenes = {git= "https://git@github.com/maxspahn/motion_planning_scenes.git", rev = "main", optional = true}
pylint = "^2.13.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pylint = "^2.13.3"
black = "^22.3.0"
pytest-cov = "^3.0.0"

[tool.poetry.extras]
scenes = ["motion-planning-scenes"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
